<!DOCTYPE html>
<html>

<head>
    <title>
        smart fan app
    </title>
</head>

<body style=" background-color:#b3e0ff">

    <h1 class="title">Temperature Based SmartFan IoT Application</h1>
    <br><br><br>
    <h2 class="cur_temp">Current Temperature</h2>
    <br><br><br><br>
    <table style="width: 100%">
        <tr>
            <th>
                <h3 class="auto_state">AUTO</h3>
            </th>
            <th>
                <h3 class="auto_state">STATE</h3>
            </th>
        </tr>
    </table>

<style>
    .title {
	max-width:100%;
	height:70px;
	border:1px solid #000;
	margin:auto;
	text-align:center; 
	background-color: #ff8080;
	padding-top:35px;
}
.cur_temp{
	max-width:400px;
	height:70px;
	border:1px solid #000;
	margin:auto;
	text-align:center; 
	background-color: #ff8080;
	padding-top:35px;
}
.auto_state{
	max-width:400px;
	height:200px;
	border:1px solid #000;
	margin:auto;
	text-align:center; 
	background-color: #ff8080;
	padding-top:35px;

}
</style>
</body>
</html>